---
import Layout from '../layouts/Layout.astro';
import StrategyHeader from '../components/estrategia/StrategyHeader.astro';
import BusinessGoal from '../components/estrategia/BusinessGoal.astro';
import BusinessLine from '../components/estrategia/BusinessLine.astro';
import OKRs from '../components/estrategia/OKRs.astro';
import AlignTeams from '../components/estrategia/AlignTeams.astro';
---

<Layout title="Estrategia - MR Roma">
  <main>
    <StrategyHeader />
    <BusinessGoal />
    <BusinessLine />
    <OKRs />
    <AlignTeams />
  </main>
</Layout>
