---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/index/HeroConvergence.astro';
import GoalSection from '../components/index/GoalSection.astro';
import GoalEvaluation from '../components/index/GoalEvaluation.astro';
import ProjectEvaluation from '../components/index/ProjectEvaluation.astro';
import ValueSection from '../components/index/ValueSection.astro';
import TeamSection from '../components/index/TeamSection.astro';

---

<Layout title="MR Roma - Alineamos la tecnología con el negocio">
  <main>
    <Hero />
    <GoalSection />
    <GoalEvaluation />
    <ProjectEvaluation />
    <ValueSection />
    <TeamSection />
  </main>
</Layout>
