---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/index/HeroConvergence.astro';
import FrameworkSection from '../components/index/FrameworkSection.astro';
import VisionSection from '../components/index/VisionSection.astro';
import ValueSection from '../components/index/ValueSection.astro';
import TeamSection from '../components/index/TeamSection.astro';

---

<Layout title="MR Roma - Alineamos la tecnología con el negocio">
  <main>
    <Hero />
    <FrameworkSection />
    <VisionSection />
    <ValueSection />
    <TeamSection />
  </main>
</Layout>
